<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PC timetable API</title>
  </head>
  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="../css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Endpoints </div>
      <div class="list-group list-group-flush">
        <a href="/docs/classes" class="list-group-item
          list-group-item-action bg-light">Classes</a>
        <a href="/docs/users" class="list-group-item
          list-group-item-action bg-light">Users</a>
        <a href="/docs/students" class="list-group-item
          list-group-item-action bg-light">Students</a>
        <a href="/docs/teachers" class="list-group-item
          list-group-item-action bg-light">Teachers</a>
        <a href="/docs/classes_time" class="list-group-item
          list-group-item-action bg-light">Classes Time</a>
        <a href="/docs/classes_taken" class="list-group-item
          list-group-item-action bg-light">Classes Taken</a>
        <a href="/docs/classes_taught" class="list-group-item
          list-group-item-action bg-light">Classes Taught</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      </nav>

