<%- include('./partials/header'); -%>
<div class="container-fluid">
  <h1 class="mt-4">Classes Time</h1>
  <p>Returns all <a href="/classes_time">classes_time</a> from the database in the JSON format</p>
  <p>A query can be performed to return a specific class time</p>
</div>
<%- include('./partials/sidebar'); -%>
