<%- include('./partials/header'); -%>
<div class="container-fluid">
  <h1 class="mt-4">Classes</h1>
  <p>Returns all <a href="/classes">classes</a> from the database in the JSON format</p>
  <p>A query can be performed to return a specific class</p>
</div>
<%- include('./partials/sidebar'); -%>
