<%- include('./partials/header'); -%>

      <div class="container-fluid">
        <h1 class="mt-4">PC Timetable API Documentation</h1>
        <p>Welcome to the documentation for the Prague College
          timetable API.
        </p>
      </div>
<%- include('./partials/sidebar'); -%>

