<%- include('./partials/header'); -%>
<div class="container-fluid">
  <h1 class="mt-4"><a href="/students">Students</a></h1>
  <h2>Get requests</h2>
  <p>Example get request that returns all students in a JSON format:</p>
  <pre>
    <code>
     curl 'http://35.234.67.178/students'
    </code>
  </pre>
  <p>A query can be performed to return a specific student</p>
  <p>Example query:</p>
  <pre>
    <code>
     curl 'http://35.234.67.178/students?student_id=4'
    </code>
  </pre>
  <h4>Timetable</h4>
  <p>When a student id is specified, a timetable for that student can be generated.</p>
  <p>The endpoint for that is <code>/students/{student_id}/timetable.</code></p>
  <h2>Post requests</h2>
  <p>Example post request that inserts a new student into the database:</p>
  <pre>
    <code>
      curl --header "Content-Type: application/json" \
      --request POST \
      --data '{"user_id": 7, "current_semester": 2001, "programme_id": 3,
               "semester_tuition": "4000"}' \
      http://35.234.67.178/students
    </code>
  </pre>
  <h2>Delete requests</h2>
  <p>Example delete request that deletes one students from the database:</p>
  <pre>
    <code>
      curl \
      --request DELETE \
      http://35.234.67.178/students\?student_id=7
    </code>
  </pre>
  <p>Example delete request that deletes all of the students from the database:</p>
  <pre>
    <code>
      curl \
      --request DELETE \
      http://35.234.67.178/students
    </code>
  </pre>
  <h2>Put requests</h2>
  <p>Example put request that updates all fields of a student in the database:</p>
  <pre>
    <code>
      curl --header "Content-Type: application/json" \
      --request PUT \
      --data '{"current_semester": 2002,"programme_id": 2, "semester_tuition": "2000"}' \
      http://35.234.67.178/students\?student_id=2
    </code>
  </pre>
  <h2>Patch requests</h2>
  <p>Example patch request that updates some fields of a student in the database:</p>
  <pre>
    <code>
      curl --header "Content-Type: application/json" \
      --request PATCH \
      --data '{"current_semester": 2004}' \
      http://35.234.67.178/students\?student_id=5
    </code>
  </pre>
</div>
<%- include('./partials/sidebar'); -%>
