<%- include('./partials/header'); -%>
<div class="container-fluid">
  <h1 class="mt-4">Students</h1>
  <p>Returns all <a href="/students">students</a> from the database in the JSON format.</p>
  <p>A query can be performed to return a specific student.</p>
  <p>When a student id is specified, a timetable for that student can be generated.</p>
  <p>The route for that is /students/{student_id}/timetable.</p>
</div>
<%- include('./partials/sidebar'); -%>
