<%- include('./partials/header'); -%>
<div class="container-fluid">
  <h1 class="mt-4"><a href="/teachers">Teachers</a></h1>
  <h2>Get requests</h2>
  <p>Example get request that returns all teachers in a JSON format:</p>
  <pre>
    <code>
     curl 'http://35.234.67.178/teachers'
    </code>
  </pre>
  <p>A query can be performed to return a specific teacher</p>
  <p>Example query:</p>
  <pre>
    <code>
     curl 'http://35.234.67.178/teacher\?teacher_id=2'
    </code>
  </pre>
  <h4>Timetable</h4>
  <p>When a teacher id is specified, a timetable for that teacher can be generated.</p>
  <p>The endpoint for that is <code>/teachers/{teacher_id}/timetable.</code></p>
  <h2>Post requests</h2>
  <p>Example post request that inserts a new teacher into the database:</p>
  <pre>
    <code>
      curl --header "Content-Type: application/json" \
      --request POST \
      --data '{"user_id": 3}' \
      http://35.234.67.178/teachers
    </code>
  </pre>
  <h2>Delete requests</h2>
  <p>Example delete request that deletes one teacher from the database:</p>
  <pre>
    <code>
      curl \
      --request DELETE \
      http://35.234.67.178/teachers\?teacher_id=7
    </code>
  </pre>
  <p>Example delete request that deletes all of the teachers from the database:</p>
  <pre>
    <code>
      curl \
      --request DELETE \
      http://35.234.67.178/teachers
    </code>
  </pre>
  <h2>Put requests</h2>
  <p>Example put request that updates all fields of a teacher in the database:</p>
  <pre>
    <code>
      curl --header "Content-Type: application/json" \
      --request PUT \
      --data '{"teacher_id": 2, "user_id": 4}' \
      http://35.234.67.178/teachers\?teacher_id=2
    </code>
  </pre>
  <h2>Patch requests</h2>
  <p>Example patch request that updates some fields of a teacher in the database:</p>
  <pre>
    <code>
      curl --header "Content-Type: application/json" \
      --request PATCH \
      --data '{"user_id": 2}' \
      http://35.234.67.178/teachers\?teacher_id=5
    </code>
  </pre>
</div>
<%- include('./partials/sidebar'); -%>
