<%- include('./partials/header'); -%>
<div class="container-fluid">
  <h1 class="mt-4">Users</h1>
  <p>Returns all <a href="/users">users</a> from the database in the JSON format</p>
  <p>A query can be performed to return a specific user</p>
</div>
<%- include('./partials/sidebar'); -%>
